<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Prueba</title>
</head>

<body>

    <div ng-app="acumuladorApp" ng-controller="acumuladorAppCtrl">
      Numero:<input type="text" ng-model="numero" size="4" />
      <br>
        <br />
        <input type="button" value="Sumar numero" ng-click="sumar()" />
        <input type="button" value="Restar Numero" ng-click="restar()" />

        <p>Resultado: <span>{{total}}</span></p>
        
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.24/angular.min.js"></script>
    <script>
        angular.module('acumuladorApp', []).controller("acumuladorAppCtrl", function ($scope) {
            $scope.total = 0;
            $scope.numero = 0;
            $scope.sumar = function () {
                $scope.total += parseInt($scope.numero);
            }
            $scope.restar = function() {
                $scope.total -= parseInt($scope.numero);
            }
            $scope.coloresCss = {

            };
           // if ($scope.total >= 0){
             //   $scope.total = "Es negativo";
            // };
        });
    </script>
</body>
</html>